@use "../base/variables" as *;

.masthead {
  position: relative;
  height: 300px;
  background: linear-gradient(90deg, #0c2740 0%, #314d77 100%);
  background-size: cover;

  .section-wrapper {
    height: 100%;
    padding-bottom: 1rem;
    align-items: flex-end;
    &.flex-column{
      align-items: center;
    }
  }

  h1 {
    color: $white;
    max-width: 600px;
    line-height: 1.4;
    font-size: 2rem;
    a{color: $white;}
  }

  p {
    color: $white;
    max-width: 800px;
    line-height: 1.6;
  }

  img {
    margin-bottom: 1rem;
  }

  &__text {
    position: relative;
    height: inherit;
    z-index: 2;
    // padding-bottom: 3rem;
  }

  &__bg {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: inherit;
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      display: block;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0.5) 100%
      );
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }

  &--small {
    height: 160px;
    color: $white;

    p {
      margin-bottom: 1rem;
    }
  }
 .envizi-ibm {
    right: 30%;
    bottom: 28%;
    position: absolute;
}
}
.banner {
    &.banner-sm {
      height: 170px;
    }
    position: relative;
    overflow: hidden;
    height: 340px;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    &.top-postion-24 {
      top: inherit;
      bottom: 0;
      img {
        top: inherit;
        bottom: 0;
        width: inherit;
      }
    }
    &.top-postion-0 {
      top: 0px;
    }
    img {
      position: absolute;
      background-size: cover;
      width: 100%;
      background-position: 50% 0;
      background-repeat: no-repeat;
      top: 0;
    }
    .img {
      position: relative;
      background-size: initial;
      background-position: initial;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: $white;
      a {
        color: $white;
      }
    }
    .btn {
      display: table;
    }
  }
  
  .heading {
    color: $white;
    max-width: 600px;
    line-height: 1.4;
    font-size: 1.4rem;
    font-weight: bold;
    padding-bottom: 0.3rem;
  }
  .des-text {
    color: $white;
    line-height: 1.6;
    text-align: center;
  }
  .masthead{
    &__text{
      p.pb-5{padding-bottom: 0px !important;}
    }
    &.masthead-height-auto{ height: auto; padding-top: 1rem; 
    }
    &.ami-banner {
      .masthead__bg:before {
          background: none;
      }
  }
  .masthead-logo {
    right: 2%;
    top: 40%;
    position: absolute;
}
  }
  @media only screen and (min-width: 753px) {
  
    .masthead{
      &__text{
        p.pb-5{padding-bottom: 50px !important;}
      }
      &.masthead-height-auto{ height: 300px; padding-top: 0;
      h1{max-width: 900px;}
      }
      .masthead-btn-register{ position: absolute; right: 0;padding: 0.6rem 1rem;}
    }
  }
  
  /* end */
  //Tablets
  @media (max-width: 767px){
    .masthead {
      .masthead-logo{ 
          right: inherit; 
          top: inherit;
          bottom: 20px;
      img{
          width: 250px; 
          margin-bottom: 0;}
      }
      &.ami-banner{height: 200px;
          h1{max-width: inherit;}

      }
      h1{font-size: 24px;}
      &__bg img {
        height: 240px;
        left: 100%;
        max-width: fit-content;
    }
  }
  }
  @media (max-width: $reflex-lg) {
    .banner {
      &.top-postion-24{
        img{ width: auto;}
      }
      height: auto;
      padding: 60px 0px;
    }
  }
  //Mobile
  @media (max-width: $reflex-md) {
    .banner {
      &.top-postion-24{
        img{ width: auto;}
      }
      img {
        width: auto;
      }
      &.banner-sm {
        height: auto;
      }
      height: auto;
      padding: 25px 0px;
      h1 {
        font-size: 28px;
      }
      &.banner-brochure {
        img {
          width: 100%;
        }
      }
    }
  }
  