@use "../base/variables" as *;
//Why work with Dezan Shira
.section-padding { padding-top: 80px; padding-bottom: 80px;}
.para{color: $gray;
    a{color: $gray; text-decoration: underline;
        &:hover{text-decoration: none;}
        }
}
.thumb-round{ display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;}
.why-work-with-DSA{ background-color: $gray-bg; @extend .section-padding; padding-top: 88px; padding-bottom: 65px;
    p{@extend .para;margin-bottom: 0; }
    .flex-spacing{ flex-direction: column;}
.dsa-block{width: calc((100%)/1);padding: 1rem;
    margin-top: 2rem;
    border-radius: 2px;
    text-align: center;
   &:hover{
       .icon-block{
        transform: scale(1.1);
       }
       .dsa-block-title{
           h4{color: $dsa-bright-blue; 
               a{color: $dsa-bright-blue;}
           }
       }
   }
    }
.icon-block{
    height: 5rem;
    width: 5rem;
    @extend .thumb-round;
    background-color: #f2f6fc;
    margin-bottom: 1.5rem;
    transition: transform .5s ease;
    &.yellow-icon{
        //background-color: #FFCB31;
        background: rgba(255, 203, 49, 0.3);
    }
    &.red-icon{
        //background-color: #ED1C24;
        background: rgba(237, 28, 36, 0.3);
    }
    &.green-icon{
        //background-color: #1A9649;
        background: rgba(26, 150, 73, 0.3);
    }
    &.purple-icon{
        //background-color: #6270B5;
        background: rgba(98, 112, 181, 0.3);
    }
}
.dsa-block-title {
    h4{font-size: 18px; font-weight: bold;  color: $blue-theme;line-height: 24px;
    a{color: $blue-theme;}
    }
}
}

@media screen and (min-width: 767px) {
    .why-work-with-DSA{
        .flex-spacing{ flex-direction: row; flex-wrap: wrap;}
        .dsa-block{width: calc((100% - 85px)/2); text-align:left; }
    }
  }
  @media screen and (min-width: 1167px) {
    .why-work-with-DSA{
        .dsa-block{width: calc((100% - 85px)/4); text-align:left; }
    }
  }