// Variables

// Color syste
$white:    #ffffff !default;
$black:    #000000 !default;
$blue:    #0d6efd !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #ea2127 !default;
$orange:  #fd7e14 !default;
$yellow:  #ffc107 !default;
$green:   #28a745 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
$gray:    #6c757d !default;
$gray-dark:#343a40 !default;

$success:#198754 !default;
$info:#0dcaf0 !default;
$warning:#ffc107 !default;
$danger:#dc3545 !default;
$light:#f8f9fa !default;
$dark:#212529 !default;

//DSA theme Color
$dsa-dark-blue:#0c2740 !default;
$dsa-medium-blue:#344c71 !default;
$dsa-cyan-blue:#3471b7 !default;
$dsa-bright-blue:#357DC0 !default;
$dsa-yellow:#ffcc32 !default;
$dsa-red:#d2232a !default;
$dsa-green:#1d9649 !default;
$dsa-purple:#636eab !default;
$dsa-light-grey:#58585B !default;
$dsa-dark-grey:#58595b !default;
$dsa-grey:#58595b !default;




$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-900: #212529 !default;


//country page
$gray40:#666666 !default;
$gray:#6D6E71!default;
$gray-bg:#F9F9F9!default;
$font-family-arial:Arial, Helvetica, sans-serif !default;
$blue-theme:#112E41!default;
$cyan-blue-dark:#357DC0!default;
$white-smoke:#F3F3F3!default;

// Grid
$reflex-xs: 576px !default;
$reflex-sm: 768px !default;
$reflex-md: 992px !default;
$reflex-lg: 1200px !default;
$reflex-xlg: 1440px !default;