@use "../base/variables" as *;

.btn {
    border-radius: 2px;
    font-size: 1rem;
    border: 1px solid transparent;
    padding: 8px 20px 7px 20px;
    line-height: 1.5333333333;
    text-decoration: none;
    height: auto;
    transition: all 0.25s ease-in-out;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    width: min-content;
  }
  .btn-primary {
    color: $white;
    background-color: $dsa-bright-blue;
    border-color: $dsa-bright-blue;
    &:hover {
      color: $white;
      background-color: $dsa-medium-blue;
      border-color: $dsa-medium-blue;
    }
    &:active {
      &:hover {
        color: $white;
        background-color: $dsa-medium-blue;
        border-color: $dsa-medium-blue;
      }
      &:focus {
        color: $white;
        background-color: $dsa-medium-blue;
        border-color: $dsa-medium-blue;
      }
    }
  }
  .btn-outline-primary {
    color: $dsa-bright-blue;
    background-color: transparent;
    background-image: none;
    border-color: $dsa-bright-blue;
    &:hover {
      color: $white;
      background-color: $dsa-bright-blue;
      border-color: $dsa-bright-blue;
    }
  }
  .btn-secondary {
    color: $white;
    background-color: $gray-dark;
    border-color: $gray-dark;
    &:hover,
    &:focus {
      color: $white;
      background-color: $gray-dark;
      border-color: $gray-dark;
    }
  }
  .btn-outline-secondary {
    color: $gray-dark;
    background-color: transparent;
    border-color: $gray-dark;
    &:hover {
      color: $white;
      background-color: $gray-dark;
      border-color: $gray-dark;
    }
  }
  a.btn-cta-link {
    
        color: #357DC0;
        text-decoration: none;
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 600;
        &:after {
            content: "";
            display: inline-block;
            background: url(https://dsa-2021.netlify.app/assets/img/esg-cta-arrow.svg) no-repeat left top;
            width: 6px;
            height: 8px;
            margin-left: .5rem;
            vertical-align: middle;
        }
        &:hover:after{color: #103D68 ; background: url(https://dsa-2021.netlify.app/assets/img/esg-cta-arrow-h.svg) no-repeat left top;}
    
}