
.sitefooter {
    background-color: #0c2740;
    padding: 4rem 0;
  
    .subhead {
      color: #fff; font-size: .75rem; text-transform: uppercase;
    }
  
    &--top {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 2rem;
  
      @media (min-width: 1040px) {
        flex-direction: row;
      }
    }
  
    &--left {
      min-width: 272px;
      color: #fff;
  
      p {
        font-size: 0.875rem;
        margin-bottom: 1rem;
      }
  
      &:after {
        content: "";
        display: block;
        height: 1px;
        width: 100%;
        margin: 2rem 0 3rem;
        background-color: #ced4da;
        opacity: 0.25;
      }
      @media (min-width: 768px) {
        min-width: 300px;
      }
      @media (min-width: 1040px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
  
        &:after {
          display: none;
        }
      }
    }
  
    &--right {
      width: 100%;
  
      @media (min-width: 1040px) {
        max-width: 42rem;
      }
  
      @media (min-width: 1180px) {
        max-width: 46rem;
      }
    }
  
    &__newsletter-form {
      display: flex;
      margin-bottom: 2rem;
  
      input[type="email"], input[type="email"]::-webkit-input-placeholder {
        font-size: 0.875rem; 
        width: 100%;
        padding: 8px 10px;
        display: inline-block;

        border-color: #e7e7e7;
        background-color:#e7e7e7 ;
       
      }
  
      input[type="submit"] {
        color: #fff;
        background-color: #217fd4;
        padding: 0 1rem;
        font-size: 0.75rem;
        font-weight: bold;
        text-transform: uppercase;
      }
  
      @media (min-width: 1040px) {
        margin-bottom: 0;
      }
      
    }
  
    &__social {
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
      }
  
      li {
        margin-right: 1.5rem;
      }
    }
  
    &__grid {
      display: flex;
      flex-direction: column;
  
      &--col:nth-child(1) {
        width: 12rem;
        margin-right: 4rem;
  
        @media (min-width: 1180px) {
          margin-right: 6rem;
        }
      }
  
      &--col:nth-child(2) {
        width: 16rem;
        margin-right: 2rem;
  
        @media (min-width: 1180px) {
          margin-right: 4rem;
        }
      }
  
      &--col:nth-child(3) {
        width: 8rem;
      }
  
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        margin-bottom: 2rem;
      }
  
      a {
        color: #fff;
        font-size: 0.875rem;
        opacity: 0.6;
        transition: opacity 0.2s ease;
  
        &:hover {
          opacity: 1;
        }
      }
  
      @media (min-width: 768px) {
        flex-direction: row;
      }
    }
  
    &--bot {
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      padding: 1rem 0;
      color: #fff;
      font-size: 0.875rem;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  
      @media (min-width: 768px) {
        flex-direction: row;
      }
      p{font-size: .875rem;}
    }
  
    &__copyright {
      opacity: 0.6;
      margin-bottom: 1rem;
  
      @media (min-width: 768px) {
        margin-bottom: 0;
      }
  
      p {
        margin-bottom: 0;
      }
    }
  
    &__submenu {
      margin: 0;
      padding: 0;
      list-style: none;
  
      li {
        display: inline-block;
      }
  
      li + li {
        margin-left: 1.5rem;
      }
  
      a {
        color: #fff;
        opacity: 0.6;
        transition: opacity 0.2s ease;
  
        &:hover {
          opacity: 1;
        }
      }
    }
  }
  
  .sprite-social {
    &:before {
      content: "";
      display: inline-block;
      background-image: url(../img/sprite-all.svg);
      background-repeat: no-repeat;
      width: 24px;
      height: 24px;
      vertical-align: middle;
    }
  
    &-fb:before {
      background-position: 0 -84px;
    }
  
    &-tt:before {
      background-position: -96px -84px;
    }
  
    &-li:before {
      background-position: -48px -84px;
    }
  
    &-yt:before {
      background-position: -72px -84px;
    }
  }
  